@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Garcon.Details

<h1>Detalhes do Garçom: @Model.GarconModel.Nome</h1>

<div>
    <p><strong>Nome: </strong> @Model.GarconModel.Nome </p>
    <p><strong>Sobrenome: </strong> @Model.GarconModel.Sobrenome </p>
    <p><strong>CPF: </strong> @Model.GarconModel.Cpf </p>
    <p><strong>Telefone: </strong> @Model.GarconModel.Telefone </p>
</div>

<a asp-page="Index"> Voltar</a>