@page
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Garcon.Index
<h1>Garçons Cadastrados</h1>

<div>
    <table>
        <thead>
            <tr>
                <td>ID Garçom</td>
                <td>@Html.DisplayNameFor(model => model.GarconList[0].Nome) </td>
                <td>@Html.DisplayNameFor(model => model.GarconList[0].Sobrenome)</td>
                <td>CPF</td>
                <td>@Html.DisplayNameFor(model => model.GarconList[0].Telefone)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var garconModel in Model.GarconList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => garconModel.GarconId)</td>
                    <td>@Html.DisplayFor(model => garconModel.Nome)</td>
                    <td>@Html.DisplayFor(model => garconModel.Sobrenome)</td>
                    <td>@Html.DisplayFor(model => garconModel.Cpf)</td>
                    <td>@Html.DisplayFor(model => garconModel.Telefone)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@garconModel.GarconId"> Modificar </a>
                        <a asp-page="./Details" asp-route-id="@garconModel.GarconId"> Visualizar </a>
                        <a asp-page="./Delete" asp-route-id="@garconModel.GarconId"> Remover </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>