@page
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Mesa.Index
<h1>Mesas Cadastradas</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<<<<<<< HEAD
<div class="info">
    <div align="center">
    </div>
=======
<div>
>>>>>>> bc2e163dd4269238490085dfda7dc9fc5c0ff17e
    <table class="table table-bordered table-sm table-hover-custom">
        <thead>
            <tr>
                <th scope="col">ID Mesa</th>
                <th scope="col">Número</th>
                <th scope="col">@Html.DisplayNameFor(model => model.MesaList[0].Status)</th>
                <th scope="col">Libera as</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mesaModel in Model.MesaList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => mesaModel.MesaId)</td>
                    <td>@Html.DisplayFor(model => mesaModel.Numero)</td>
                    <td>@Html.DisplayFor(model => mesaModel.Status)</td>
                    <td>@Html.DisplayFor(model => mesaModel.HoraAbertura)</td>
                    <td>
                        <a class="btn btn-sm btn-secondary active" asp-page="./Edit" asp-route-id="@mesaModel.MesaId"> <i class="fa fa-pencil"></i> </a>
                        <a class="btn btn-sm btn-success active" asp-page="./Details" asp-route-id="@mesaModel.MesaId"> <i class="fa fa-eye"></i></a>
                        <a class="btn btn-secondary btn-sm btn-danger" asp-page="./Delete" asp-route-id="@mesaModel.MesaId"> <i class="fa fa-trash"></i> </a>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
<p style="text-align:center"><a class="btn btn-primary" role="button" asp-page="./Create"> <strong>Cadastrar</strong></a></p>
<<<<<<< HEAD
</div>

<style>
    main{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .info{
        width: 60vw;
        text-align: center;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
    }
</style>
=======
</div>
>>>>>>> bc2e163dd4269238490085dfda7dc9fc5c0ff17e
