@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Atendimento.Details

<h1>Atendimento: @Model.AtendimentoModel.AtendimentoId </h1>

<div>
    <strong>Mesa: </strong> @Model.AtendimentoModel.Mesa.Numero</p>
    @if (Model.Pedido_ProdutoList.Any())
    {
        <table>
        <thead>
            <tr>
                <td><strong>Pedido</strong></td>
                <td><strong>Quantidade</strong></td>
                <td><strong>Garçom</strong></td>
                <td><strong>Horario do Pedido</strong></td>
            </tr>
        </thead>
        <tbody>
            
                @foreach (var item in Model.Pedido_ProdutoList)
            { 
                <tr>
                    <td>@item.Produto.Nome</td>
                    <td>@item.Quantidade</td>
                    <td>@item.Pedido.Garcon.Nome @item.Pedido.Garcon.Sobrenome</td>
                    <td>@item.Pedido.HorarioPedido</td>
                </tr>
            }
        </tbody>
        </table>
        <a asp-page="Index"> Fechar Pedido</a>
    }
    else
    {
        <p><strong>Sem nenhum Pedido!!</strong></p>
    }
    <a asp-page="Index"> Voltar</a>
</div>


