@page "{id:int}"
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Produto.Details

<h1>Detalhes do Garçom: @Model.ProdutoModel.Nome</h1>

<div>
    <p><strong>Nome: </strong> @Model.ProdutoModel.Nome </p>
    <p><strong>Descrição: </strong> @Model.ProdutoModel.Descricao </p>
    <p><strong>Categoria: </strong> @Model.ProdutoModel.CategoriaId </p>
    <p><strong>Preço: R$</strong> @Model.ProdutoModel.Preco </p>
</div>

<a asp-page="Index"> Voltar</a>