@page
@model ProjetoGerenciamentoRestaurante.RazorPages.Pages.Produto.Index
<h1>Produtos Cadastrados</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div>
    <table class="table table-bordered table-sm table-hover-custom">
        
        <thead>
            <tr>
                <td scope="col">ID Produto</td>
                <td scope="col">Categoria</td>
                <td scope="col">@Html.DisplayNameFor(model => model.ProdutoList[0].Nome) </td>
                <td scope="col">@Html.DisplayNameFor(model => model.ProdutoList[0].Descricao)</td>
                <td scope="col">@Html.DisplayNameFor(model => model.ProdutoList[0].Preco)</td>
                <td scope="col"></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var produtoModel in Model.ProdutoList)
            {
                <tr>
                    <td>@Html.DisplayFor(model => produtoModel.ProdutoId)</td>
                    <td>@if (produtoModel.Categoria != null){
                            @Html.DisplayFor(model => produtoModel.Categoria.Nome)
                        }
                        else{}
                    </td>
                    <td>@Html.DisplayFor(model => produtoModel.Nome)</td>
                    <td>@Html.DisplayFor(model => produtoModel.Descricao)</td>
                    <td>@Html.DisplayFor(model => produtoModel.Preco)</td>
                    
                    <td>
                        <a class="btn btn-sm btn-secondary active" asp-page="./Edit" asp-route-id="@produtoModel.ProdutoId"> <i class="fa fa-pencil"></i> </a>
                        <a class="btn btn-secondary btn-sm btn-success" asp-page="./Details" asp-route-id="@produtoModel.ProdutoId"> <i class="fa fa-eye"></i> </a>
                        <a class="btn btn-secondary btn-sm btn-danger" asp-page="./Delete" asp-route-id="@produtoModel.ProdutoId"> <i class="fa fa-trash"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <style>
            tbody tr td:last-child{
                width: 10vw;
            }

            tbody tr td:not(:nth-child(4)){
                text-align: center;
            }



        </style>
<p style="text-align:center"><a class="btn btn-primary" role="button" asp-page="./Create"> <strong>Cadastrar</strong></a></p>
</div>
